.container-main-create{
    width: 1000px;
 
    .txt-post-content{
        height: 400px;
    }
}
.card-form-newpost{
    height: 700px;
}
.container-new-post{


    .form-control{
        border: 0px solid;
    }
    .form-select{
        border: 0px solid;
    }
    .title-new-post{

    }
    .title-new-post{
        text-size-adjust: 50px;
    }

}
.container-btn{
    .text-revert{
        color: gray;
    }
    .btn-publish{
        background-color: rgb(57, 70, 214);
        border: solid 0px;

    }
    .btn-save-changes{
        background-color: rgb(202, 202, 203);
        border: solid 0px;

    }
}


body{
    background-color:#efefef;
}