.container-new-post{


    .form-control{
        border: 0px solid;
    }
    .form-select{
        border: 0px solid;
    }
    .title-new-post{

    }
    .title-new-post{
        text-size-adjust: 50px;
    }
}


body{
    background-color:#efefef;
}