.container-new-post{

    .card{
        height: 800px;
        width: 850px;
    }
    .form-control{
        border: 0px solid;
    }
    .form-select{
        border: 0px solid;
    }
    .title-new-post{

    }
    .title-new-post{
        text-size-adjust: 50px;
    }
}


body{
    background-color:#efefef;
}